@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css);
@import url(https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css);
html {
  font-size: 20px;
}
html,
body {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 100%;
  height: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 480px;
}
body * {
  /* font-family: Pretendard, -apple-system, sans-serif; */
  box-sizing: border-box;
  line-height: 1.4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
i[class^="ri-"],
i[class*="ri-"] {
  font-weight: 100;
  line-height: normal;
}
i[class^="ri-"] + span,
i[class*="ri-"] + span {
  vertical-align: middle;
}
.aria-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#root {
  min-height: 100%;
  height: 0;
}
/* tui color picker */
#__next .toastui-editor-popup-body input[type="text"].tui-colorpicker-palette-hex {
  width: 100px;
  height: 30px;
}
#__next .toastui-editor-popup-color button {
  height: 30px;
}
#__next .toastui-editor-dropdown-toolbar {
  max-width: 100%;
  flex-wrap: wrap;
  height: auto;
}
#__next .toastui-editor-mode-switch {
  height: 45px;
}
#__next .toastui-editor-mode-switch .tab-item {
  height: 34px;
  line-height: 34px;
}
/* antd */
.ant-menu-item-selected {
  font-weight: bold;
}
