@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css);
@import url(https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css);
html {
  font-size: 20px;
}
html,
body {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 100%;
  height: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 480px;
}
body * {
  /* font-family: Pretendard, -apple-system, sans-serif; */
  box-sizing: border-box;
  line-height: 1.4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
i[class^="ri-"],
i[class*="ri-"] {
  font-weight: 100;
  line-height: normal;
  display: inline-block;
  vertical-align: -3px;
}
/* i[class^="ri-"] + span,
i[class*="ri-"] + span {
  vertical-align: middle;
} */
.aria-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#root {
  min-height: 100%;
  height: 0;
}
.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:last-child:not(:first-child) {
  display: none;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}
